.delete-image-link {
  padding: 4px 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 2px;
  color: white;
  position: absolute;
}

.delete-image-link a {
  color: black;
}