<p id="notice"><%= notice %></p>


<div class="container col-xs-12">
  <p  class="pull-right">
    <%= link_to 'Cadastrar novo animal', new_animal_path, :class => "btn btn-primary" %>
  </p>
</div>

<% @animals.each do |animal| %>
    <%= render :template => "animals/animal", :locals => {:animal => animal} %>
<% end %>

