<p id="notice"></p>


<div class="container">
  <%= render :template => "animals/full-animal", :locals => {:animal => @animal} %>
  <%= render :template => "animals/animal-adoptions", :locals => {:animal => @animal} %>
</div>

