// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnails-area {
  margin-top: 10px;
}

.delete-image-link {
  padding: 4px 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 2px;
  color: white;
  position: absolute;
}

.delete-image-link a {
  color: black;
}