


<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<!--<div class="container">-->
  <!--<div class="col-xs-4"></div>-->
  <!--<div class="col-xs-4">-->

    <!--<div class="col-xs-2"></div>-->
    <!--<div class="col-xs-8">-->
      <!--<form>-->
        <!--<div class="form-group">-->
          <!--<label for="login">Login:</label>-->
          <!--<input type="text" class="form-control" id="login">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="password">Senha:</label>-->
          <!--<input type="password" class="form-control" id="password">-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
    <!--<div class="col-xs-2"></div>-->
  <!--</div>-->

  <!--<div class="col-xs-4"></div>-->
<!--</div>-->